.flex-container{
    width: 100%;
    height: auto;
    padding: 0px;
    background: #000;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.blog-image {
    width: 50%;
    height: 50vh;
    border: 5px solid red;
    margin: 10px auto;
}

.blog-image img{
    width: 100%;
    height: 100%;
}
section{
    width: 950px;
    height: auto;
    background: blue;
    margin: 10px;
}
aside{
    width: 350px;
    height: auto;
    background: red;
    margin: 10px;
    margin-left: 0px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .flex-container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    section{
        width: 100%;
        height: auto;
        background: blue;
    }
    aside{
        width: 100%;
        height: auto;
        background: red;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .flex-container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    section{
        width: 100%;
        height: auto;
        background: blue;
    }
    aside{
        width: 100%;
        height: auto;
        background: red;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .flex-container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    section{
        width: 50%;
        height: auto;
        background: blue;
    }
    aside{
        width: 50%;
        height: auto;
        background: red;
    } 
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .flex-container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    section{
        width: 60%;
        height: auto;
        background: blue;
    }
    aside{
        width: 40%;
        height: auto;
        background: red;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .flex-container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    section{
        width: 70%;
        height: auto;
        background: blue;
    }
    aside{
        width: 30%;
        height: auto;
        background: red;
    }
}